[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
youtube-dl = "*"
"discord.py" = {extras = ["voice"], version = "*"}
pynacl = "*"

[requires]
python_version = "3.8"
